<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar Estudiante</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 40px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-custom {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.3s;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }

    .btn-cancel {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }

    .btn-cancel:hover {
        background-color: #c82333;
    }
</style>
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10 mx-auto">
                <form th:action="@{/estudiantes/save}" th:object="${estudiantes}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Apellido">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="tipoDoc">Tipo de Documento</label>
                            <input type="text" th:field="*{tipoDoc}" class="form-control" id="tipoDoc" placeholder="Tipo de Documento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numeroDeCC">Número de Documento</label>
                            <input type="text" th:field="*{numeroDeCC}" class="form-control" id="numeroDeCC" placeholder="Número de Documento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input type="text" th:field="*{telefono}" class="form-control" id="telefono" placeholder="Teléfono">
                        </div>
                        <div class="form-group col-md-6">
    					    <label for="contraseña">Contraseña</label>
    					    <input type="text" th:field="*{contraseña}" class="form-control" id="contraseña" placeholder="Contraseña">
					    </div>

                                            
                        <h2>INFORMACION DE LA PRUEBA</h2>
                        
                        <div class="form-group col-md-6">
                            <label for="numRegistro">Numero de Registro de la prueba</label>
                            <input type="text" th:field="*{numRegistro}" class="form-control" id="numRegistro" placeholder="NumRegistro">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="puntajeGeneral">Puntaje general de la prueba</label>
                            <input type="text" th:field="*{puntajeGeneral}" class="form-control" id="puntajeGeneral" placeholder="PuntajeGeneral">
                        </div>                        
                        <div class="form-group col-md-6">
                            <label for="comunicacionEscrita">Comunicacion Escrita </label>
                            <input type="text" th:field="*{comunicacionEscrita}" class="form-control" id="comunicacionEscrita" placeholder="ComunicacionEscrita">
                        </div>                         
                        <div class="form-group col-md-6">
                            <label for="razonamientoCuantitativo">Razonamiento Cuantitativo</label>
                            <input type="text" th:field="*{razonamientoCuantitativo}" class="form-control" id="razonamientoCuantitativo" placeholder="RazonamientoCuantitativo">
                        </div>                       
                        <div class="form-group col-md-6">
                            <label for="lecturaCritica">Lectura Critica</label>
                            <input type="text" th:field="*{lecturaCritica}" class="form-control" id="lecturaCritica" placeholder="LecturaCritica">
                        </div>                         
                        <div class="form-group col-md-6">
                            <label for="competenciasCiudadanas">Competencias Ciudadanas</label>
                            <input type="text" th:field="*{competenciasCiudadanas}" class="form-control" id="competenciasCiudadanas" placeholder="CompetenciasCiudadanas">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ingles">Ingles</label>
                            <input type="text" th:field="*{ingles}" class="form-control" id="ingles" placeholder="Ingles">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formulacionProyectos">Formulacion de Proyectos</label>
                            <input type="text" th:field="*{formulacionProyectos}" class="form-control" id="formulacionProyectos" placeholder="FormulacionProyectos">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pensamientoCientifico">Pensamiento Cientifico</label>
                            <input type="text" th:field="*{pensamientoCientifico}" class="form-control" id="pensamientoCientifico" placeholder="PensamientoCientifico">
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="diseñoSoftware">Diseño de Software</label>
                            <input type="text" th:field="*{diseñoSoftware}" class="form-control" id="diseñoSoftware" placeholder="DiseñoSoftware">
                        </div>                       
                                               
                        <div class="col-md-12 mt-4">
                            <button type="submit" class="btn btn-custom mr-2">Enviar</button>
                            <a th:href="@{/estudiantes}" class="btn btn-cancel">
                                <i class="fas fa-times-circle mr-2"></i>Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>